<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <h2>Simple Todos</h2>
        <table>
            <thead>
                <th>Description</th>
                <th>Due Date</th>
                <th>Status</th>
            </thead>
            <tr>
                <td>Get a haircut</td>
                <td>Dec 31, 2022</td>
                <td>TODO</td>
            </tr>
            <tr>
                <td>Wrap Christmas presents</td>
                <td>Dec 24, 2022</td>
                <td>DONE</td>
            </tr>
            <tr>
                <td>Visit Sawan</td>
                <td>January 4, 2023</td>
                <td>TODO</td>
            </tr>
        </table>
    </div>
</body>

</html>
